/*common css*/
body{
    padding: 0;
    margin: 0;
}
a, a:hover{
    text-decoration: none;
}
.mt-20px{
    margin-top: 20px;
}
.border{
    border-right: 1px solid rgb(255 255 255/0.4);
}
.btn-green{
    display: inline-block;
    text-transform: capitalize ;
    font-size: 16px;
    font-weight: 900;
    color:#fff;
    padding: 10px 30px;
    border-radius: 2px;
    position: relative;
    border:1px solid #d291bc;
    box-shadow: 0 0 0 4em #d291bc inset;
    transition: all 350ms ease;
}
.btn-green i{
    margin-right: 6px;
}
.btn-green:hover{
    box-shadow: 0 0 0 0 #d291bc inset;
    background: #fff;
    color:#d291bc;
}
.btn-transaparent{
    border: 1px solid #fff;
}
/*header*/

.header{
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    border-bottom:1px solid #fff;
    background: #fff;
}
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;

  }
  
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: #d291bc;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  .header-right {
    float: right;
  }
  .header-social{
    margin-top: 21px;
}
.header-social ul{
    margin: 0;
    padding: 0;
}
.header-social ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}
.header-social ul li a{
    color: #d291bc;
    background: rgb(255 255 255/0.22);
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: inline-block;
    position: relative;

}
.header-social ul li a i{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}
.header-social ul li a:hover i{
    color:#01ca8b;
}

.food-munch-logo {
  width: 65px;
  height: 50px;
}
#navItem1 {
  color: #323f4b;
  font-family: "Roboto";
  font-weight: bold;
  font-size: medium;
}
#navItem2 {
  color: #323f4b;
  font-family: "Roboto";
  font-weight: bold;
  font-size: medium;
}
#navItem3 {
  color: #323f4b;
  font-family: "Roboto";
  font-weight: bold;
  font-size: medium;
}
#navItem4 {
  color: #323f4b;
  font-family: "Roboto";
  font-weight: bold;
  font-size: medium;
}
#navItem5 {
  color: #323f4b;
  font-family: "Roboto";
  font-weight: bold;
  font-size: medium;
}
#navItem6{
  color: #fff;
  font-family: "Roboto";
  font-weight: bold;
  font-size: x-large;
}



.banner-section-bg-container {
  background-image: url("logo1.png");
  height: 50vh;
  background-size: cover;
}
.banner-heading {
  color: white;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 300;
}
.headingz{
  font-size:large;
}
.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}
.custom-button {
  color: white;
  background-color: #d0b200;
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.custom-outline-button {
  color: #d0b200;
  background-color: transparent;
  width: 130px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0b200;
  border-radius: 8px;
}
/*banner*/
.banner{
    height: 700px;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16em 0 14em 0;
    box-shadow: -5px -5px 30px 5px #e1f3ff 5px 5px 30px 5px #e1f3ff;
}
.banner-content{
    width:80%;
}
.banner-content h1{
    color:#fff;
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
    line-height: 80px;
}
.banner-content h2{
  color:#fff;
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
  line-height: 80px;
}
.service{
    border-radius: 10px;
    background: #ffffff45;
    border:1px solid #dfdfdf94;
    margin-top: 100px;
    padding-bottom: 15px;
}
.service a{
    display: inline-block;
    width: 33%;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border-right: 1px solid #fff;
    padding: 34px 20px;
    margin:0 -2px;
    height: 180px;
    vertical-align: top;
}
.service a:last-child{
    border-right: none;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    width: 34.2%;
}
.service{
    border-radius: 10px;
    background: #ffffff45;
    border:1px solid #dfdfdf94;
    margin-top: 100px;
}

.service a:last-child{
    border-right: none;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    width: 34.2%;
}
.service-content{
    width: calc(100% -47px);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: center; /* added this line */
}
.service-content::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #fff;
    height: 2px;
    width: 0;
    transition: 0.2s ease-in-out;
}
.service-content:hover::before{
    width: 50%;
}
.service-btn{
    width:40px;
    display: inline-block;
    height: 40px;
    background: #ffffff45;
    border-radius: 50%;
    position:relative;
    vertical-align: middle;
}
.service-btn i{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.2s ease-in-out;
}
.service a:hover.service-btn i{
    transform: rotate(-40deg);
    top:26%;
    left: 32%;
}
.service-icon{
    font-size: 40px;
    margin-top: 22px;
}
.call{
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}
.call-number{
    width:calc(100% - 54px);
    display: inline-block;
    vertical-align: middle;
}
.call-number p{
    font-size: 14px;
    text-transform: uppercase;

}
.call-number h3{
    margin: 0;
    font-weight: 600;
    letter-spacing: 1;
}
.work{
    position: relative;
    margin-top: -80px;
}
.hours{
    background: #d291bc;
    border-radius: 10px;
    padding: 40px 50px;
}
.hours h2{
    color:#fff;
    font-weight: 900;
    margin: 0 0 30px;
}
.time{
    border-top: 1px solid rgb(255 255 255/0.52);
    padding: 20px 0;
}
.time:last-child{
    padding-bottom: 0;
}
.time h4.time p{
    text-align: left;
    color: #fff;
    font-weight: 600;
}
.booking{
    display: inline-block;
    width:33%;
    margin-left: -4px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.btn-white{
    background: #fff;
    color: #d291bc;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 4px 10px;
}
.btn-white i{
    margin-right: 4px 10px;
}
.response{
    border-radius: 10px;
    border: 1px solid #ebebeb;
    overflow: hidden;
}
.response-bg{
    height:260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius:10px ;
    border-bottom-right-radius: 10px;
    transition: 0.4s ease-in-out;
}
.response a:hover .response-bg{
    transform: scale(1.04);
}
.response-content{
    padding: 90px 30px 30px;
    text-align: left;
    clip-path: polygon(0 0,100% 20%,100% 100%,0% 100%);
    background: #fff;
    position: relative;
    margin-top: -70px;
}
.response-icon{
    background: #d291bc;
    border-radius: 2px;
    width: 70px;
    height: 70px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.response-icon i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 30px;
}
.response-content h2{
    color:#000;
    font-weight: 800;
    line-height: 36px;
}
.response-content p{
    color:#8b8b8b;
    font-size: 15px;
    margin: 24px 0 0;
}
.read-more{
    border: none;
    outline:none;
    background: transparent;
    color: #d291bc;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
.read-more i{
    margin-left: 4px;
    transition: 0.2s ease-in-out;
}
.response a:hover .read-more{
    color: #000;
}
.response a:hover .read-more i{
    color: #d291bc;
    margin-left: 6px;
}

.container{
    max-width: 1170px;
    
    margin: auto;
}
.ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #d291bc;
    padding: 20px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18PX;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    background-color: #d291bc;
}
.footer-col h4::before{
    content: '';
    left: 0;
    bottom: -10px;
    background-color: #0e4ae4;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #808080;
    display: block;
    transition: all 0.3s ease;
    
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    padding-top: 12px;
    
}
.footer-col .social-links a:hover{
    color: #d291bc;
    background-color: #ffffff;
}

/* Styles for sections */
.section {
    padding: 60px;
    margin: 40px 0;
    background-color: linear-gradient(to right #FF5733,#52FF33);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .section h1 {
    font-size: 50px;
    text-align: center;
    color: #333;
  }
  .section p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
    color: #555;
  }
  .section:hover {
    background-color: #d291bc(255, 154, 171);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .section img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
}
.testimonial-and-clients {
    background: url(../images/test-clients-bg.png) center center/cover no-repeat #fff;
  }
  
  .testimonials {
    padding: 10px 0 10px;
    color: #333;
  }
  
  .testimonials .test-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .testimonials .test-img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 90px;
  }
  
  .testimonials h5 {
    color: #26264b;
    margin-top: 15px;
  }
  
  .testimonials span {
    color: #c4c4c4;
    display: inline-block;
    margin: 0 0 17px;
  }
  
  .testimonials p {
    font-size: 17px;
    line-height: 27px;
  }
  
  .test-pagination {
    text-align: center;
    margin-top: 8px;
  }
  
  .test-pagination span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #26264b;
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;
  }
  
  .test-pagination span:hover {
    cursor: pointer;
  }
  
  .test-pagination span:not(:last-child) {
    margin-right: 10px;
  }
  
  .test-pagination span.swiped-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: white;
  }
  .section-footer{
    background-color: linear-gradient(to right #FF5733,#52FF33);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .column {
    float: left;
    width: 50%;
    padding: 60px;
  }
  
  /* Clearfix (clear floats) */
  /*.row::after {
    content: "";
    clear: both;
    display: table;
  }*/
.nowrap {
    white-space: nowrap;
  }
 .media-body{
    padding-bottom: 20px;
    padding-top: 20px;
  }
.imgs{
    height:195px;
    width: 292px;
    padding-left: 20px;

}
.abtsize{
    font-size: 15px;
    font-family: "Roboto";
    margin-left: 20px;
    margin-right: 10px;
}
.mh1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.card{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    
}
.mp{
    margin-left:15px;
    padding:20px;

}
.mhh{
    margin-left: 15px;
    padding:15px;

}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#d291bc;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  .slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
  /*slides*/
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  @media screen and (max-width: 600px){
    .h1{
      font-size: 36px;
      line-height: 50px;
    }
    .banner-heading {
      color: white;
      font-family: "Roboto";
      font-size: 35px;
      font-weight: 180;
    }
  }
  .textstyle { 
    color: #2A2D35; 
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
  }
  
  /* CSS3 Type Animation */
  
  .textstyle {
    animation: type 4s steps(60, end);
    /* Chrome and Safari Optimisation */
    -webkit-animation: type 4s steps(60, end) infinite;
    /* Firefox Optimisation */
    -moz-animation: type 4s steps(60, end) infinite;
    /* Opera Optimisation */
    -webkit-animation: type 4s steps(60, end) infinite;
  }
  
  /* Remaining CSS3 Animation */
  
  @keyframes type {
      from { width: 0; }
  }
  
  /* Chrome and Safari Optimisation */
  @-webkit-keyframes type {
      from { width: 0; }
  }
  
  /* Firefox Optimisation */
  @-moz-keyframes type {
      from { width: 0; }
  }
  
  /* Opera Optimisation */
  @-o-keyframes type {
      from { width: 0; }
  }
  

  button.neumorphic {
    container-type: inline-size;
    aspect-ratio: 1/1;
    border: 0.5rem solid transparent;
    border-radius: 1rem;
    color: hsl(0 0% 10%);
    background: none;
    
    display: grid;
    place-content: center;
    gap: 1rem;
    
    --shadow: 
      -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
      .5rem .5rem 1rem hsl(0 0% 50% / .5);
    box-shadow: var(--shadow);
    outline: none;  
    transition: all 0.1s;
    
    &:hover, &:focus-visible {
      color: hsl(10 80% 50%);
      scale: 1.1
    }
    &:active, &.active{
      box-shadow:
        var(--shadow),
        inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
        inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
      color: hsl(10 80% 50%);
      > i { font-size: 28cqi};
      > span { font-size: 13cqi};
    }
  
    >i {
      font-size: 31cqi;
    }
    > span {
      font-family: system-ui, sans-serif;
      font-size: 16cqi;
    }
  }
  
  
  
  .buttonz {
    display: grid;
    width: min(100rem, 100%);
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(6rem, 100%), 1fr));
    gap: 2rem;
  }